.shop {
  display: flex;
  align-items: center;
}
.shop p {
  color: white;
  margin-left: 12px;
}

nav {
  background: rgb(113,207,105);
background: linear-gradient(162deg, rgba(113,207,105,1) 5%, rgba(28,121,148,1) 96%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

nav h2 {
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  color: white;
  margin: 0px 10px;
}
