.cart-widget-text {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: white;
}

.navbar {
  background-color: #295178;
  border-bottom: 1px solid #284663;
  border-top: 1px solid #0b1a29;
  padding: 0.5rem 1rem;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin-bottom: 0.5rem;
}

.navbar-categories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
