* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Anek Latin', sans-serif;
  font-family: 'Anton', sans-serif;
}

@font-face {
  font-family: 'Anek Latin', sans-serif;
  font-family: 'Anton', sans-serif;
  src: local("Anton-Regular"),
    url(../src/assets/fonts/Anton-Regular.ttf) format("truetype");
}
